@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

:root {
  --foreground-rgb: #4abdac;
  --letters: #dfdce3;
  --buttons: #f7b733;
}

body {
  /* background-color: var(--foreground-rgb); */
  color: var(--letters);
}

[type='checkbox'] {
  opacity: 0;
}

[type='checkbox'] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: #666;
  line-height: 25px;
}

[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: 2px solid #aaa;
  margin-top: 4px;
  background: #fff;
}

[type='checkbox']:checked + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: 0px solid #5fd25f;
  background: #fff;
}

[type='checkbox']:hover + label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  outline: 2px solid #aaa;
  background: #fff;
}

[type='checkbox']:checked + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-image: url(/icons/check.png);
  margin-top: 4px;
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease;
}

[type='checkbox']:not(:checked) + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  margin-top: 4px;
  background-image: url(/icons/check.png);
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}

/* button {
  background-color: var(--buttons);
  padding: 0.8rem 2rem;
  border-radius: 25px;
  transition: all 0.3s ease;
} */

/* button:hover {
  color: var(--foreground-rgb);
  background-color: var(--letters);
  box-shadow: 0px 5px 5px var(--buttons);
}

button:active {
  background-color: var(--buttons);
} */
